h1 {
    background-color: rgb(255,127,0);
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    background-color: rgb(231, 174, 117);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}